body {
    background-color: rgb(224, 252, 252);
    text-align: center;
}

button {
    padding: 10px 16px;
    background-color: rgb(255, 228, 196);
    font: 1em sans-serif;
    border-radius: 6px;
    margin-bottom: 20px;
}

button:hover {
    background-color: rgb(250, 235, 215);
}

#container {
    display: flex;
    margin: auto;
    max-width: 960px;
    height: 80vh;
    flex-direction: column;
    border: 20px solid red;
    border-radius: 6px;
}

.row {
    padding: 0%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.tile {
    width: 100%;
}
