body {
    background-color: rgb(224, 252, 252);
    text-align: center;
}

button {
    padding: 10px 30px;
    background-color: bisque;
    font: 1em sans-serif;
    border-radius: 6px;
    margin-bottom: 20px;
}

button:hover {
    background-color: antiquewhite;
}

#container {
    display: flex;
    margin: auto;
    width: 96%;
    height: 90vh;
    flex-direction: column;
}

.row {
    padding: 0%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.tile {
    border: 1px solid;
    width: 100%;
}
